---
export interface Props {
  title: string;
  description: string;
  src: string;
  alt: string;
  href: string;
  mtop: string;
}

const { title, description, src, alt, href, mtop } = Astro.props;
---

<a href={href} class="card-container">
  <div class={mtop}>
    <figure
      class="img-wrap flex aspect-[0.85] w-full items-center justify-center overflow-hidden rounded-4xl bg-md-flamingo-100"
    >
      <img class="object-cover" src={src} alt={alt} />
    </figure>
    <div class="description py-1 px-2 pt-6">
      <h4>{title}</h4>
      <p>{description}</p>
    </div>
  </div><!-- /.margin-top-hack -->
</a>
<!-- /.card-container -->
