---
const { heading, client, services, year, project_url } = Astro.props;
---

<section
  id="container-hero"
  class="hero px-4 pt-40 pb-16 font-jost md:pt-40 md:pb-24 lg:pt-56 lg:pb-36"
>
  <div class="hero-text">
    <h1 class="tricks relative inline">{heading}</h1>
  </div>
  <div
    class="hero-info mx-auto grid grid-flow-col grid-cols-2 grid-rows-2 gap-y-4 pt-8 sm:max-w-3xl sm:grid-flow-col sm:grid-cols-4 sm:grid-rows-1 sm:justify-between sm:justify-items-center sm:gap-y-0 sm:pt-16 [&>*]:flex [&>*]:flex-col"
  >
    <div>
      <p class="font-medium">bedrijf</p>
      <p>{client}</p>
    </div>
    <div>
      <p class="font-medium">services</p>
      <p>{services}</p>
    </div>
    <div>
      <p class="font-medium">year</p>
      <p>{year}</p>
    </div>
    <div>
      <p class="font-medium">website</p>
      <a class="flex flex-row items-center" title={`open project ${client}`} href={project_url}>
        launch website
        <div class="ml-1 h-5 w-5">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11 8.07579V12.2783C11 12.8306 10.5523 13.2783 10 13.2783H4C3.44772 13.2783 3 12.8306 3 12.2783V6.27832C3 5.72604 3.44772 5.27832 4 5.27832H8.3999V4.27832H4C2.89543 4.27832 2 5.17375 2 6.27832V12.2783C2 13.3829 2.89543 14.2783 4 14.2783H10C11.1046 14.2783 12 13.3829 12 12.2783V8.07579H11Z"
              fill="currentColor"></path>
            <path
              d="M6.43743 8.4912C6.23717 8.68132 6.23717 8.98958 6.43743 9.1797C6.6377 9.36983 6.9624 9.36983 7.16266 9.1797L6.43743 8.4912ZM14.5129 2.00001C14.5129 1.73113 14.2833 1.51316 14 1.51316L9.38472 1.51316C9.1015 1.51316 8.87191 1.73113 8.87191 2.00001C8.87191 2.26888 9.1015 2.48685 9.38472 2.48685L13.4872 2.48685L13.4872 6.38165C13.4872 6.65052 13.7168 6.86849 14 6.86849C14.2833 6.86849 14.5129 6.65052 14.5129 6.38165L14.5129 2.00001ZM7.16266 9.1797L14.3627 2.34426L13.6374 1.65575L6.43743 8.4912L7.16266 9.1797Z"
              fill="currentColor"></path>
          </svg>
        </div><!-- end icon -->
      </a><!-- end ./link -->
    </div>
  </div><!-- /.hero-info -->
</section>
<!-- /.container-hero -->
