---
const { vid_src, img1_src, img1_title, img2_src, img2_title } = Astro.props;
---

<section class="img-divider mx-auto max-w-screen-2xl px-4 py-16 md:px-16 lg:py-32">
  <div
    class="img-grid mx-auto grid max-w-5xl grid-flow-col grid-cols-3 gap-4 md:gap-16 lg:gap-24 [&>*]:aspect-[9/19] [&>*]:overflow-hidden [&>*]:rounded-xl [&>*]:shadow-lg [&>*]:md:rounded-3xl"
  >
    <video muted autoplay playsinline loop>
      <source class="min-h-full min-w-full object-cover" src={vid_src} type="video/mp4" />
    </video>
    <div>
      <img class="min-h-full min-w-full object-cover" src={img1_src} alt={img1_title} />
    </div>
    <div>
      <img class="min-h-full min-w-full object-cover" src={img2_src} alt={img2_title} />
    </div>
  </div>
</section>
