---
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";

const { title, h1, description, keywords, og_url, og_img_url, og_site_name } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content={keywords} />
    <meta name="description" content={description} />
    <meta name="language" content="NL" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#fefefe" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="og:title" content={title} />
    <meta name="og:url" content={og_url} />
    <meta name="og:image" content={og_img_url} />
    <meta name="og:site_name" content={og_site_name} />
    <meta name="og:description" content={description} />
  </head>
  <body class="stop-scrolling bg-md-bg font-gangster font-light">
    <h1 class="sr-only">{h1}</h1>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

<!-- Load scripts -->
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
></script>

<!-- Tooltip -->
<script>
  // Find all buttons with the `tooltip` class on the page.
  const buttons = document.querySelectorAll("button.tooltip");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      navigator.clipboard.writeText("hello@studiomoondust.com");
      button.classList.add("tooltip-done");
      setTimeout(() => {
        button.classList.remove("tooltip-done");
      }, 1400);
    });
  });
</script>
